{% extends 'core/base.html' %}
{% block title %} {{item.name}} {% endblock %}
{% block content %}
<!--
* La clase "grid":
 define contenedor qc dividirá en filas y columnas, y los elementos dentro dl contenedor c colocarán en esas filas y columnas las especificaciones
?estilos grid-cols-5, gap-6 pertenecen a propiedad grid de CSS, c utiliza para crear diseños de cuadrícula
 *La clase "grid-cols-5":
 especifica que el contenedor se dividirá en 5 columnas
 *clase "gap-6":
 establece un espacio de 6 píxeles entre cada una de las filas y columnas de la cuadrícula
 -->
<div class="grid grid-cols-5 gap-6">
<!--
* La clase "col-span-3":
? pertenece a la propiedad "grid" de CSS
especificar el número de columnas que un elemento ocupará en una cuadrícula
"col-span-3": elemento ocupará 3 columnas en cuadrícula y dejará 2 columnas a su derecha libres
orden de izq-der, arriba-abajo
*"grid-template-rows" y "grid-template-columns":
propiedades de CSS q permite especificar #d filas y columnas en cuadrícula, así como su tamaño y orden
Si c cambia dirección d cuadrícula, orden en qc colocan los elementos también cambiará
? cuadrícula d 3 filas-columnas, cada fila alto 100px, cada columna ancho 100px

<div class="grid-container">
  <div class="item"></div>
</div>

.grid-container {
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
}
.item {
  grid-row: 2;
  grid-column: 2;
}
-->
    <div class="col-span-3">
        <img src="{{item.image.url}}" alt="" class="rounded-xl">
    </div>
    <div class="col-span-2 p-6 bg-gray-100 rounded-xl">
        <h1 class="mb6 text-3xl"> {{item.name}} </h1>
        <p class="text-gray-500"><strong>Price: </strong> ${{item.price}} </p>
        <p class="text-gray-500"><strong>Seller: </strong> {{item.created_by.username}} </p>
        {% if item.description %}
        <p class="text-gray-700">
            <strong class="text-gray-500">Description:</strong><br>
            {{item.description}}
        </p>
        {% endif %}
        {% if request.user == item.created_by %}
            <div class="mt-6 p-6 bg-white rounded-xl">
                <p>This is your item!</p>
                <a href="{% url 'item:edit' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl">Edit</a>
                <a href="{% url 'item:delete' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl">Delete</a>
            </div>
        {% else %}
            <a href="{% url 'conversation:new' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Contact Seller</a>
        {% endif %}
    </div>
</div>
<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Related items</h2>
    <div class="grid grid-cols-3 gap-3">
        {% for item in related_items %}
        <div>
            <a href="{% url 'item:detail' item.id %}">
                <div>
                    <img class="rounded-t-xl" src="{{item.image.url}}" alt="">
                </div>
                <div class="p-6 bg-white rounded-b-xl">
                    <h2 class="text-2xl"> {{item.name}} </h2>
                    <p class="text-gray-500">Price: ${{item.price}} </p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}